{
  "plugins": [
    "react-hot-loader/babel",
    "emotion",
    ["@babel/plugin-transform-runtime", { "corejs": 2 }],
    "@babel/plugin-proposal-class-properties"
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "debug": false,
        "loose": true,
        "modules": false,
        "useBuiltIns": "usage"
      }
    ],
    "@babel/preset-react"
  ],

  "env": {
    "production": {
      "plugins": ["transform-react-remove-prop-types"],
      "presets": ["minify"]
    }
  }
}
