{
  "plugins": ["react-hot-loader/babel", "emotion", "transform-runtime", "transform-decorators-legacy", "transform-class-properties", ["babel-plugin-transform-builtin-extend", { "globals": ["Error", "Array"], "approximate": true }]],
  "presets": [["es2015", { "modules": false }], "stage-0", "react"]
}
