@import 'presets';

@mixin button {
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,0.12);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12);
  border-radius: 2px;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  padding: 0.65em 1.2em;
  margin: 0;
  font-weight: 600;
  font-family: $btn-font;
  font-size: inherit;
  text-align: center;
  line-height: 100%;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  outline: none;
  text-decoration: none;
  transition: all 150ms ease-in;
  transition-property: background, box-shadow, border, color, padding;

  &:hover {
    text-decoration: none;
    box-shadow: 0 3px 5px rgba(0,0,0,0.12);
  }

  &:active {
    box-shadow: 0 1px 1px rgba(0,0,0,0.12);
  }

  &[disabled] {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.45;
  }
}

@mixin default-button
{
  $color: #f1f1f1;

  @include button;
  background: $color;
  color: #777;

  &:hover {
    background: shade($color, 5%);
    color: #777;
  }

  &:active {
    background: shade($color, 10%);
  }
}

@mixin color-button($color, $text-color: #fff) {
  @include button;
  color: $text-color;
  background: $color;
  border-bottom-color: shade($color, 5);

  &:hover {
    background: shade($color, 10%);
    color: $text-color;
  }

  &:active {
    background: shade($color, 30%);
  }
}

.button-options {
  .button,
  button {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 100%;
      border-right: 2px solid #fff;
      margin-left: -2px;
      z-index: 2;
      pointer-events: none;
    }

    &::after {
      content: "OR";
      background: #fff;
      border-radius: 3em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      width: 1.75em;
      height: 1.75em;
      line-height: 1.75em;
      font-weight: 500;
      font-size: 0.75em;
      position: absolute;
      left: 100%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;
      pointer-events: none;
    }

    &:last-child {
      &::after,
      &::before {
        display: none;
      }
    }
  }
}

.button,
button {
  @include default-button;
}

button.full,
.button.full {
  display: block;
  width: 100%;
}

button.transparent,
.button-transparent,
.button.transparent {
  &,
  &:hover {
    background: transparent;
    border: 0;
    box-shadow: none;
  }
}

.button-primary,
.button.primary,
button.primary {
  @include color-button($primary-color);
}

.button-secondary,
.button.secondary,
button.secondary {
  @include color-button($secondary-color);
}

.button-success,
.button.success,
button.success {
  @include color-button($success-color);
}

.button-danger,
.button.danger,
button.danger {
  @include color-button($danger-color);
}

.button-purchase,
.button.purchase,
button.purchase {
  @include color-button($shopping-color);
}
