/*.call-to-action {
  background: linear-gradient(90deg, #38aecc 10%, #347fb9 90%);
  padding: 6em 0;
  color: #fff;
  text-align: center;

  p {
    font-size: 1.45em;
  }

  .button {
    border-radius: 10em;
    font-size: 1.5em;
    margin-top: 0.5em;
  }
}*/

footer {
  $breakingPoint: 800px;

  background: #333 url(../images/footer-map.jpg) no-repeat right center;
  background-size: cover;


  color: #aaa;
  margin: 0;

  h4 {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 0;
    font-size: 2em;
    text-transform: uppercase;
    color: #ddd;
    font-weight: 900;
  }

  nav {
    padding: 1.5em 0;
    font-size: 1.5em;
    text-align: center;

    svg.icon {
      max-width: 1.15em;
      max-height: 1.15em;
      margin-top: -0.15em;
      margin-right: 0.15em;

      use {
        fill: #aaa;
        transition: all .15s ease-out;
      }
    }

    a {
      margin: 0 0.75em;
      color: inherit;

      &:hover {
        color: #fff;
        text-decoration: none;

        svg use {
          fill: #fff;
        }
      }
    }
  }

  .portrait {
    padding: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -3.5em;
    text-align: center;
    position: relative;
    z-index: 2;

    img {
      background: #333;
      border: 0.65em solid #333;
      margin-bottom: 1em;
      height: 12em;
      width: 12em;
      border-radius: 12em;
      overflow: hidden;
    }
  }

  .availability {
    padding: 0.5em 1em;
    border-radius: 10em;
    background: $success-color;
    font-size: 1.35em;
    font-weight: 300;
    color: #fff;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
    white-space: nowrap;
    transition: transform 150ms ease-out;
    will-change: transform;   

    &:hover {
      text-decoration: none;
      color: #fff;
      transform: translateX(-50%) scale(1.1);
    }

    svg.icon {
      margin-right: 0.5em;
      use {
        fill: #fff;
      }
    }
  }
}
