// Forms
.form-group {
  &:not(:last-child) {
    margin-bottom: 1em;
  }
}

fieldset {
  background: transparent;
  border: none;
}

fieldset.form-fieldset {
  background: #fcfcfc;
  border-radius: 0.25em;
  border-color: rgba(0,0,0,0.15);
  border-width: 1px;
  padding: 1em;
}

// Form element: Label
.form-label {
  font-weight: 500;
  display: block;
  padding: .6em 0;

  input:first-child {
    margin-right: 0.5em;
  }
}

.radio-group,
.checkbox-group {
  input {
    margin-right: 0.5em;
  }

  label {
    margin-right: 2em;
  }

  &.stacked label {
    display: block;
  }
}

.form-field,
.form-input {
  background: #fefefe;
  background-image: none;
  border: 1px solid rgba(0,0,0,0.12);
  border-radius: 0.2em;
  color: $input-color;
  transition: all .2s ease;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
  outline: none;
  position: relative;
  width: 100%;

  &:focus,
  &.focus,
  .form-group.focus & {
    background: #fff;
    border-color: #ccc;
    box-shadow: 0 0 0.45em rgba($focus-color, 0.45);
  }
}

.form-field {

  input {
    flex: 1;
    height: 3.2em;
    padding: .5em .8em;
    outline: none;
    appearance: none;
  }

  .add-on {
    background: #fafafa;
    padding: 0 0.5em;
    min-width: 2.5em;
    line-height: 1;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: 600;

    &:first-child {
      border-right: 1px solid #eee;
      border-top-left-radius: 0.2em;
      border-bottom-left-radius: 0.2em;
    }

    &:last-child {
      border-left: 1px solid #eee;
      border-top-right-radius: 0.2em;
      border-bottom-right-radius: 0.2em;
    }
  }
}

// Form element: Input
.form-input {
  padding: .5em .8em;
  height: 3.2em;
  display: block;

  &::placeholder {
    color: #aaa;
  }

  &.input-inline {
    display: inline-block;
    vertical-align: middle;
    width: auto;
  }

  // Textarea
  &textarea {
    height: auto;
  }

  // Input types
  &[type="file"] {
    height: auto;
  }
}



.form-checkbox,
.form-radio {
  appearance: none;
  -webkit-appearance: none;
  background: #fff;
  width: 1.15em;
  height: 1.15em;
  line-height: 1.15em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  transition: all 150ms ease-in;
  transition-property: background, transform;

  &:hover {
    transform: scale(1.2);
  }
}

.form-checkbox {
  border-radius: 0.1em;

  &:checked {
    background: $primary-color url(../icons/checkmark.svg) no-repeat center center;
    background-size: contain;
  }
}

.form-radio {
  border-radius: 10em;

  &:checked {
    background: $primary-color;
    background: radial-gradient(ellipse at center, #ffffff 29%,#4488b4 31%);
  }
}

.form-actions {
  border-top: 1px solid #eee;
  padding: 0.5em;
  background: #fafafa;
}


// Form element: Select
.form-select {
  appearance: none;
  border: 1px solid rgba(0,0,0,0.12);
  border-radius: 0.2em;
  color: inherit;
  line-height: 2em;
  outline: none;
  padding: .5em .8em;
  vertical-align: middle;

  &[multiple] {
    width: 100%;

    option {
      padding: .2em .4em;
    }
  }
  &:not([multiple]) {
    background: #f1f1f1 url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23667189' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75em center / .8em 1em;
    height: 3.2em;
    padding-right: 2.4em;
  }
  &:focus {
    border-color: $primary-color;
    box-shadow: 0 0 0.2em rgba($primary-color, 0.10);
  }
  &::-ms-expand {
    display: none;
  }
}

// Form validation states
.form-input,
.form-select {
  .has-success &,
  &.is-success {
    border-color: $success-color;
    &:focus {
      box-shadow: 0 0 0.2em rgba($success-color, 0.10);
    }
  }

  .has-error &,
  &.is-error {
    border-color: $error-color;
    &:focus {
      box-shadow: 0 0 0.2em rgba($error-color, 0.10);
    }
  }
}

// Form disabled and readonly
.form-input,
.form-select {
  &:disabled,
  &.disabled {
    background-color: #f1f1f1;
    cursor: not-allowed;
    opacity: .5;
  }
}

.form-input {
  &[readonly] {
    background-color: #fcfcfc;
  }
}

input {
  &:disabled,
  &.disabled {
    & + .form-icon {
      background: #f1f1f1;
      cursor: not-allowed;
      opacity: .5;
    }
  }
}

.form-switch {
  input {
    &:disabled,
    &.disabled {
      & + .form-icon::before {
        background: #f1f1f1;
      }
    }
  }
}

// Form Horizontal
.form-horizontal {

  .form-group {
    display: flex;
  }

  .form-checkbox,
  .form-radio,
  .form-switch {
    margin: .4em 0;
  }
}
