#app-header {
  margin: 0;
  position: relative;
  z-index: 5;
  text-align: center;
  padding: 2em 0;
  will-change: padding;

  body.index & {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  @media screen and (min-width: 800px) {
    &.sticky,
    body.index &.sticky {
      animation: slideDown 500ms;
      animation-fill-mode: forwards;
      transition: all 150ms ease;
      transition-property: padding, background;
      background: #fff;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      padding: 0;
      box-shadow: 0 0.5em 1em rgba(0,0,0,0.15);

      .brand a {
        font-size: 2em;
        transform: none !important;
        text-shadow: none !important;
      }
    }
  }

  .brand {
    margin: 0;
    font-size: 1.5em;
    letter-spacing: -0.1em;
    line-height: 1.4;
    color: #333;
    transition: all .2s ease-out;

    font-weight: 900;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    white-space: nowrap;
    z-index: 10;

    a {
      display: block;
      -webkit-font-smoothing: subpixel-antialiased;
      color: inherit;
      font-size: 2.5em;
      text-transform: uppercase;
      text-decoration: none !important;
      transition: all .15s ease-out;
      transition-property: font-size, letter-spacing, text-shadow, transform;
    }
  }

  #brand-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 3;

    .container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      @media screen and (min-width: 900px) {
        justify-content: space-between;
      }
    }
  }

  #navigation {
    font-size: 1.25em;
    letter-spacing: -1px;
    color: #222;
    vertical-align: middle;
    position: relative;
    padding: 0.5em;
    mix-blend-mode: multiply;
    white-space: nowrap;

    a {
      margin: 0 1.25em;
      display: inline-block;
      vertical-align: middle;
      zoom: 1;
      *display: inline;
      color: inherit;
      letter-spacing: 1px;

      &:hover {
        opacity: 0.85;
      }
    }

    .dropdown.search .menu {
      margin-top: 0;
      left: 0;
      right: 0;
      width: 100%;
    }

    #autocomplete {
      text-align: left;
    }

  }

  .dropdown a {
    padding: 0.5em 0.6em;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    *display: inline;
    text-decoration: none !important;
    line-height: 25px;
    border-radius: 3px 3px 0 0;
    color: #b9b9b9;
    letter-spacing: 1px;
  }


}
