@import 'reset';
@import 'presets';
@import 'animations';
@import 'fonts';
@import 'buttons';
/* @import 'form'; */
@import 'header';
@import 'footer';
@import 'skills';
/* @import 'timeline'; */
@import 'resume';


html {
  height: 100%;
}

body {
  min-height: 100%;
}

.left {
  float: left;
}
.right {
  float: right;
}

.center {
  text-align: center !important;
}

.clear {
  clear: both;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

svg,
time {
  display: inline-block;
  vertical-align: middle;
}

svg {
  &.icon {
    max-width: 1em;
    max-height: 1em;
    margin-top: -0.15em;
  }
}

body {
  background: #fff;
  color: $body-color;
  font-size: 13px;
  font-family: $body-font;
  line-height: 1.3;
  display: flex;
  flex-direction: column;

  &.frame {
    background: transparent;
  }
}

#router,
.application-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: stretch;
}

main {
  flex: 1;
}

.react-component {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.nowrap {
  white-space: nowrap;
}

a {
  color: $primary-color;
  transition: all .15s ease-out;
  text-decoration: none;

  transition-property: color, height, width, background-color, font-size, opacity;
  &:hover {
    color: shade($primary-color, 30);
    text-decoration: underline;
  }

  /* IE10  */
  touch-action: manipulation;
}


.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row > * {
  flex: 1;
}

.container {
  margin: 0 auto;
  width: 81%;
  max-width: 1100px;
  position: relative;
}

#wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
  flex-direction: column;

  > * {
    width: 100%;
  }
}

body {
  > header,
  > #content,
  > footer {
    width: 100%;
  }
}

.loading-element {
  margin: 1em auto;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font;
  -webkit-font-smoothing: auto;
  letter-spacing: -0.005em;
  margin-bottom: 1rem;
}

h1 {
  font-size: 3em;
  font-weight: 800;
}

h2 {
  font-size: 2.5em;
  font-weight: 300;
}

h3 {
  font-size: 2em;
  font-weight: 500;
}

h4 {
  font-size: 1.5em;
  font-weight: 400;
}

h5 {
  font-size: 1.25em;
  font-weight: 300;
  margin-bottom: 0.5em;
}

h6 {
  font-size: 1em;
  font-weight: 300;
  margin-bottom: 0.5em;
}

p {
  margin-bottom: 0.65em;
}

hr {
  opacity: 0.15;
  margin: 1em auto;
}

.markdown {
  white-space: pre-line;
}

.single-page {
  padding: 3em 0;
  font-size: 2em;
  color: #666;

  h1 {
    color: #aaa;
  }
}

.cover-picture  {
  img {
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
}

.introduction {
  background: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: -0.1em;
  text-align: center;
  padding: 6em 0;
  height: 100vh;
  min-height: 40em;
  position: relative;
  text-shadow: 0 0 3em rgba(255,255,255,1),
               0 0 1em rgba(255,255,255,0.15),
               0 0 1px rgba(255,255,255,0.15);

  .panorama {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;

    img {
      position: absolute;
      top: 50%;
      bottom: 0;
      left: 50%;
      max-width: none;
      width: 300vw;
      transition: all 150ms ease;
      transform: translateY(-50%) translateX(-50%) scale(1.25);
      opacity: 0;
      animation: fadein 300ms;
      animation-fill-mode: forwards;
    }

    img.preload {
      filter: blur(50px);
    }

    .anchor {
      transition: left 90ms ease;
      position: absolute;
      bottom: 0.5em;
      left: 50%;
      width: 1.5em;
      height: 1.5em;
      padding: 1px;
      border-radius: 10em;
      background: rgba(255,255,255,0.65);
      mix-blend-mode: screen;
      box-shadow: 0 3px 5px rgba(0,0,0,0.35);
      transform: translateX(-50%);
      content: " ";
    }
  }

  .container { max-width: 730px; }

  h2 {
    font-size: 5em;
    letter-spacing: -0.015em;
    mix-blend-mode: luminosity;
  }

  p {
    font-size: 2em;
    font-weight: 300;
    color: rgba(0,0,0,0.65);
    mix-blend-mode: luminosity;
    white-space: pre-line;

    strong {
      color: rgba(0,0,0,0.75);
      font-weight: 700;
    }

    @media screen and (min-width: 800px) {
      font-size: 2.5em;
    }
  }

  .actions {
    font-size: 2em;

    .button {
      border-radius: 10em;
      font-weight: 300;
      margin: 0.25em;
      padding: 0.45em 1.5em;
    }
  }

}

.services {
  $breakingPoint: 900px;
  background: linear-gradient(to bottom,#ffffff 10%,#eeeeee 90%);
  padding: 12em 0 9em;

  h2 {
    text-align: center;
    white-space: pre-line;
  }

  .service-list {
    justify-content: space-between;
    flex-wrap: wrap;

    .service {
      background: #fff;
      color: #464f54;
      margin: 1.5em 0;
      text-align: center;
      box-shadow: 0 3px 0.15em rgba(0,0,0,0.2);
      padding: 1.5em;

      .icon {
        margin: auto;
        max-width: 5em;
        height: 3em;
        max-height: none;
        margin-bottom: 1em;
      }

      h3 {
        font-size: 1.25em;
        color: #4488b4;
      }

      p {
        font-size: 1.2em;
        font-weight: 200;
        color: #888;
      }
    }

    @media screen and (max-width: $breakingPoint) {
      display: block;
    }

    @media screen and (min-width: $breakingPoint) {
      .service {
        max-width: calc(100% / 3 - 1em);
        flex-basis: calc(100% / 3);
      }
    }

  }
}

.recent-projects {
  $breakingPoint: 1200px;
  position: relative;
  z-index: 2;

  h2 {
    text-align: center;
    margin-bottom: 2px;
    position: relative;
    z-index: 6;
  }

  .project-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @supports (display: grid) {
      display: grid;
      grid-column-gap: 2px;
      grid-row-gap: 2px;
      justify-items: center;
      align-items: center;
      grid-auto-flow: row;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas:
        "feature feature"
        "leftside rightside"
        "subfeature subfeature"
        "standard1 standard2";

      @media screen and (min-width: 700px) {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
          "standard1 feature feature standard2"
          "leftside feature feature rightside"
          "leftside subfeature subfeature rightside";
      }
    }
  }

  .glance {
    text-align: center;
    transition: all 150ms ease;
    overflow: hidden;
    position: relative;
    display: block;
    width: 100%;
    align-self: stretch;
    outline: none;
    min-height: 21em;

    @supports not (display: grid) {
      flex-basis: 30%;
      flex-basis: calc(100% / 3 - 4px);
      margin: 2px;
    }

    &.feature {
      grid-area: feature;
      .card h3 {
        font-size: 3em;
      }
    }

    &.subfeature {
      grid-area: subfeature;

      .card h3 {
        font-size: 2em;
      }
    }

    &.leftside,
    &.rightside {
      .card h3 {
        font-size: 1.75em;
      }
    }

    &.leftside {
      grid-area: leftside;
    }

    &.rightside {
      grid-area: rightside;
    }

    .card {
      position: absolute;
      z-index: 4;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      opacity: 0;
      transition: all 500ms ease;

      h3 {
        color: #fff;
        font-size: 1.25em;
      }
    }

    &:hover .card {
      opacity: 1;
    }

    img {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 300ms ease;
      z-index: 2;
    }

    img.preload {
      z-index: 1;
      filter: blur(5px);
    }

    &::before {
      background: rgba(0,0,0,0.35);
      mix-blend-mode: multiply;
      opacity: 0.65;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 3;
      content: " ";
      transition: all 150ms ease;
    }

    &:nth-child(4n+1) {
      &::before {
        background: #FF571D;
        background: linear-gradient(90deg, #d64759 10%, #da7352 90%);
      }

      .tags {
        color: #d64759;
      }
    }

    &:nth-child(4n+2) {
      &::before {
        background: #19DD7F;
        background: linear-gradient(90deg, #7bbbb0 10%, #8dc35c 90%);
      }

      .tags {
        color: #8dc35c;
      }
    }

    &:nth-child(4n+3) {
      &::before {
        background: #2390D7;
        background: linear-gradient(90deg, #38aecc 10%, #347fb9 90%);
      }

      .tags {
        color: #347fb9;
      }
    }

    &:nth-child(4n) {
      &::before {
        background: #FF9B1D;
        background: linear-gradient(90deg, #FD6F46 10%, #FB9832 90%);
      }

      .tags {
        color: #FF9B1D;
      }
    }

    .tags {
      color: #666;

      span {
        background: #fff;
        border-radius: 1em;
        display: inline-block;
        padding: 0.5em 0.75em;
        font-weight: 400;
        margin: 0.15em;
        line-height: 1;
      }
    }

    &:hover {
      h3 { opacity: 1; }

      img {
        transform: scale(1.2);
      }

      &::before {
        opacity: 1;
      }
    }

  }

  .see-more {
    margin-top: 3em;
    border-top: 1px solid rgba(0,0,0,0.09);
    padding-top: 3em;
    text-align: center;

    button {
      border-radius: 10em;
      font-size: 1.75em;
      padding: 0.85em 2em;
      font-weight: 300;
    }
  }


  @media screen and (min-width: $breakingPoint) {
    background: #fafafa;
    padding: 6em 0;

    .project-list {
      max-width: (#{$breakingPoint - 100px});
      margin: 3em auto 0;
    }
  }

  @media screen and (max-width: $breakingPoint) {

    h2 {
      padding: 2vh 0;
      background: #555;
      background: linear-gradient(90deg,#00537E 10%,#3AA17E 90%);
      color: #fff;


      &::after,
      &::before {
        position: absolute;
        left: 50%;
        top: 100%;
        content: " ";
        border: 15px solid transparent;
        transform: translateX(-50%);
      }

      &::before {
        border-top-color: #fff;
        border-width: 18px;
        z-index: 2;
      }

      &::after {
        border-top-color: #1e7b7e;
        z-index: 3;
      }
    }
  }
}


.experience {
  padding: 6em 0;
  background:
  	linear-gradient(
  		limegreen,
  		transparent
  	),
  	linear-gradient(
  		90deg,
  		skyblue,
  		transparent
  	),
  	linear-gradient(
  		-90deg,
  		coral,
  		transparent
  	);

  background-blend-mode: screen;

  h2 {
    font-weight: 600;
    mix-blend-mode: color-burn;
    opacity: 0.75;
  }

  h2,
  h2 + p {
    text-align: center;
  }

  h2 + p {
    font-size: 1.45em;
    color: rgba(0,0,0,0.45);
  }
}


.aclamations {
  background-blend-mode: screen;
  padding: 6em 0;

  @media screen and (max-width: 800px) {
    .flex-row {
      display: block;
    }
  }

  .education,
  .awards {
    padding: 3em 0;
    text-align: center;

    .icon {
      max-width: 3em;
      max-height: 3em;
      margin-bottom: 1em;

      use {
        fill: $primary-color;
      }
    }

    p {
      color: #777;
      font-size: 1.35em;
      font-weight: 300;
    }

    h2 {
      font-weight: 200;
      letter-spacing: -0.03em;
      text-shadow: 0 1px 5px rgba(0,0,0,0.12);
    }

    strong {
      display: block;
      font-size: 1.15em;
      color: #333;
      margin-bottom: 0.3em;

      a {
        color: inherit;
        &:hover {
          opacity: 0.75;
        }
      }
    }
  }
}

#error {
  padding: 3em;
  background: rgba(#b64c4c, 0.85);
  color: #fff;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
