.content-render {
  .image-container {
    text-align: center;
    margin: 1.5em auto;
  }
}


.content-entry-list {
  border: 1px solid #ddd;
  border-radius: 0.25em;
  margin-bottom: 0.5em;

  .entry-link {
    align-items: center;
    border-bottom: 1px solid #eee;

    &:last-child {
      border: 0;
    }

    .draggable {
      flex: 0 1 2em;
      padding: 0.15em;
      background: url(../icons/reorder.svg);
      background-size: 1em;
      background-repeat: no-repeat;
      background-position: center center;
      align-self: stretch;
      opacity: 0.45;
      cursor: grab;
    }

    .entry-status {
      flex: 0;
      padding-left: 0.5em;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .entry-title {
      padding-left: 0.5em;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      color: #777;
    }

    .entry-actions {
      flex: 0 1 auto;
      white-space: nowrap;
      padding: 0.15em 0.5em;
    }
  }

  & + .form-actions {
    padding: 0;

    button {
      font-weight: 400;
    }
  }
}

.status-indicator {
  background: #eee;
  border-radius: 3em;
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  line-height: 1;
  overflow: hidden;
  content: " ";

  &.published {
    background-color: $success-color;
    content: "Published";
  }

  &.draft {
    background-color: $warning-color;
  }
}
