.dropdown {
  $menuColor: #fafafa;
  position: relative;
  display: inline-block;
  vertical-align: middle;

  .toggle {
    position: relative;

    &.with-caret::after {
      position: absolute;
      top: 50%;
      left: 100%;
      margin-top: 3px;
      margin-left: 0.25em;
      border: 6px solid transparent;
      border-top-color: rgba(255,255,255,0.15);
      content: " ";
      transform: translateY(-50%);
    }
  }

  .menu {
    position: absolute;
    top: 100%;
    left: 50%;
    min-width: 150px;
    background: $menuColor;
    border-top: 3px solid $menuColor;
    box-shadow: 0 2px 3px rgba(0,0,0,0.15);
    text-align: center;
    text-transform: none;
    opacity: 0;
    transition: opacity 300ms;
    transform: translateX(-50%);
    animation: fade-in 150ms ease-in;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;

    &::before {
      position: absolute;
      bottom: 100%;
      left: 50%;
      z-index: -1;
      margin-left: -8px;
      border: 8px solid transparent;
      border-bottom-color: $menuColor;
      content: " ";
      opacity: 0;
    }

    ul {
      margin: 0;
      padding: 0;
      border: none;
    }

    ul > li,
    .menu-item {
      display: block;
      background: $menuColor;
      border: 0;
      border-radius: 0;
      box-shadow: none;
      width: 100%;
      text-align: left;
      color: $body-color;
      padding: 0.75em 1.25em;
      font-weight: inherit;

      a {
        display: block;
        padding: 0.75em;
        text-align: left;
      }

      a:hover {
        text-decoration: none;
      }

      &:hover {
        background-color: $primary-color;
        color: #fff;
      }
    }
  }

  &.on-hover:hover,
  &.open {
    > .menu {
      z-index: 10;
      z-index: 300;
      visibility: visible;
      opacity: 1;

      &::before {
        z-index: 1;
        opacity: 1;
        transition: opacity 350ms;
      }
    }
  }
}
