

.editor-screen {

  .editor-main-container {
    .content {
      flex: 1;
      overflow-y: scroll;
      max-height: 100vh;
      padding: 1.5em;
      font-size: 1.15em;
    }

    .sidebar {
      background: #fafafa;
      flex: 0 1 300px;
      padding: 3em;

      .status-indicator {
        margin-right: 0.5em;
      }
    }
  }

  .version-screen {
    .compare-attributes {
      .old-version,
      .current-version,
      .no-fields {
        padding: 2em;
      }
    }

    .no-fields {
      color: #999;
      padding: 3em;
    }
  }
}

.editor-wrapper {
  .editor-menu {
    background: #111;
    padding: 0.5em 1em;
    font-size: 1.25em;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

    svg use {
      fill: #eee;
    }

    .back-button {
      flex: 0;

      svg {
        max-width: 2em;
        max-height: 2em;
        transition: transform 100ms ease;
        will-change: transform;

        &:hover {
          transform: scale(1.2);
        }
      }
    }

    h2 {
      margin: 0;
      color: #eee;
      font-weight: 400;
    }

    & > .actions {
      flex: 0 1 auto;

      > .dropdown,
      > button {
        margin-left: 0.5em;
      }

      .dropdown .menu {
        margin-top: 5px;
      }
    }
  }

  .version-selector {
    li {
      color: $primary-color;
      padding: 0.5em;
      cursor: pointer;

      &:hover {
        background: #f1f1f1;
      }
    }
  }
}
