// Forms
.form-group {
  &:not(:last-child) {
    margin-bottom: 1em;
  }
}

fieldset {
  background: transparent;
  border: none;
}

fieldset.form-fieldset {
  background: #fcfcfc;
  border-radius: 0.25em;
  border-color: rgba(0,0,0,0.15);
  border-width: 1px;
  padding: 1em;
}

// Form element: Label
.form-label {
  font-weight: 500;
  display: block;
  padding: .6em 0;

  input:first-child {
    margin-right: 0.5em;
  }
}

// Form element: Input
.form-input {
  appearance: none;
  background: #fefefe;
  background-image: none;
  border: 1px solid rgba(0,0,0,0.12);
  border-radius: 0.2em;
  color: $input-color;
  transition: all .2s ease;
  display: block;
  height: 3.2em;
  max-width: 100%;
  outline: none;
  padding: .5em .8em;
  position: relative;
  width: 100%;

  &:focus {
    background: #fff;
    border-color: #ccc;
    box-shadow: 0 0 0.45em rgba($focus-color, 0.45);
  }

  &::placeholder {
    color: #aaa;
  }

  &.input-inline {
    display: inline-block;
    vertical-align: middle;
    width: auto;
  }

  // Textarea
  &textarea {
    height: auto;
  }

  // Input types
  &[type="file"] {
    height: auto;
  }
}

.form-actions {
  border-top: 1px solid #eee;
  padding: 0.5em;
  background: #fafafa;
}

// Form element: Input hint
.form-input-hint {
  color: #999;
  margin-top: .4em;

  .has-success &,
  .is-success + & {
    color: $success-color;
  }

  .has-error &,
  .is-error + & {
    color: $error-color;
  }
}

// Form element: Select
.form-select {
  appearance: none;
  border: 1px solid rgba(0,0,0,0.12);
  border-radius: 0.2em;
  color: inherit;
  line-height: 2em;
  outline: none;
  padding: .5em .8em;
  vertical-align: middle;

  &[multiple] {
    width: 100%;

    option {
      padding: .2em .4em;
    }
  }
  &:not([multiple]) {
    background: #f1f1f1 url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23667189' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75em center / .8em 1em;
    height: 3.2em;
    padding-right: 2.4em;
  }
  &:focus {
    border-color: $primary-color;
    box-shadow: 0 0 0.2em rgba($primary-color, 0.10);
  }
  &::-ms-expand {
    display: none;
  }
}

// Form validation states
.form-input,
.form-select {
  .has-success &,
  &.is-success {
    border-color: $success-color;
    &:focus {
      box-shadow: 0 0 0.2em rgba($success-color, 0.10);
    }
  }

  .has-error &,
  &.is-error {
    border-color: $error-color;
    &:focus {
      box-shadow: 0 0 0.2em rgba($error-color, 0.10);
    }
  }
}

// Form disabled and readonly
.form-input,
.form-select {
  &:disabled,
  &.disabled {
    background-color: #f1f1f1;
    cursor: not-allowed;
    opacity: .5;
  }
}

.form-input {
  &[readonly] {
    background-color: #fcfcfc;
  }
}

input {
  &:disabled,
  &.disabled {
    & + .form-icon {
      background: #f1f1f1;
      cursor: not-allowed;
      opacity: .5;
    }
  }
}

.form-switch {
  input {
    &:disabled,
    &.disabled {
      & + .form-icon::before {
        background: #f1f1f1;
      }
    }
  }
}

// Form Horizontal
.form-horizontal {

  .form-group {
    display: flex;
  }

  .form-checkbox,
  .form-radio,
  .form-switch {
    margin: .4em 0;
  }
}


.content-group {
  padding: 1em;
  background: #fafafa;
  margin-bottom: 0.5em;
  position: relative;

  .image-container {
    .image-options {
      font-size: 1rem;
      padding: 0.5em;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

.markdown-editor {
  padding: 0.5em;
  border-radius: 0.25em;
  border: 1px solid rgba(0,0,0,0.15);
  background: #fff;

  .markdown,
  textarea {
    padding: 0.5em;
    border: 1px solid rgba(0,0,0,0.09);
    border-radius: 0.25em;
  }
}
