$body-font: 'Roboto','Helvetica Neue',Helvetica,Arial,sans-serif;
$header-font: $body-font;
$btn-font: $body-font;

$body-color: #222;
$primary-color: #4488b4;
$secondary-color: #df7100;
$success-color: rgb(87, 173, 85);
$warning-color: rgb(200, 195, 80);
$focus-color: #2e89c4;
$error-color: rgb(189, 59, 59);
$danger-color: rgb(189, 59, 59);
$shopping-color: rgb(189, 59, 59);
$input-color: #888;


@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}
